<%= stylesheet_link_tag "styles" %>
<section class="catalog">
  <h1 class="catalog__title">Каталог книг</h1>
  <table class="catalog__table">
  <thead class="catalog__thead">

  <tr class="catalog__tr">

    <th class="catalog__th">Название</th>

    <th class="catalog__th">Авторы</th>

    <th class="catalog__th">Жанр</th>

    <th class="catalog__th">Кол-во экземпляров</th>

  </tr>

  </thead>

  <tbody class="catalog__tbody">

  <% @books.each do |book| %>

    <tr class="catalog__tr">

      <td class="catalog__td"><%= book.title %></td>

      <td class="catalog__td">

        <% book.authors.each do |author| %>

          <%= author.name %>

        <% end %>

      </td>

      <td class="catalog__td">

        <% book.genres.each do |genre| %>

          <%= genre.name %>

        <% end %>

      </td>

      <td class="catalog__td"><%= book.book_copies.count %></td>

    </tr>

  <% end %>

  </tbody>
</table> </section>

<section class="actions">
  <%= link_to 'Добавить книгу', new_book_path, class: "actions__link" %>
</section>

<h2>Загрузить обложку</h2>
<%= render 'upload_form' %>

<%= link_to "Перейти к авторам", "/authors" %>
<!--<section>-->
  <%# if book.cover.attached? %>
    <%#= image_tag book.cover %>
  <%# end %>
<!--</section>-->